@page "/"
@inherits IndexBase

<PageTitle>Index</PageTitle>

<style>
    .table-fixed{
        overflow-y: auto;
        height: 300px;
        width: 100%;
    }

    .table-fixed thead{
        position: sticky;
        top: 0px;
        background:yellow;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }
</style>


<div class="table-fixed">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>college</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            @*@int k=0; @string model_id="#"+k; k++;*@
           
            @foreach (var item in items)
            {

               <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td>@item.college</td>
            
                   <td>
                    <button class="btn btn-danger" @onclick="(() => dataToUpdate(item.id,item.name,item.college))" data-toggle="modal" data-target="#@item.id" >
                        Edit
                    </button>
                        <!-- Modal -->
                        <div class="modal fade" id="@item.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Data</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <label for="name">Name</label>
                                            <input type="text" @bind="@item.name" /> <br />
                                            <label for="name">College</label>
                                            <input type="text" @bind="@item.college" /> <br />
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a id="closemodal" class="btn" data-dismiss="modal">
                                        <button type="button" class="btn btn-primary" @onclick="(() => updateItem(item.id,item.name,item.college))">Update</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><a href="javascript:location.reload();" target="_self"><button class="btn btn-primary" @onclick="(() => deleteData(item.id))">Delete</button></a></td>
                </tr>
            }

        </tbody>
    </table>
   

</div>
<br />
<br />
<div class="form">
    <form>
        <label>Id:</label>
        <input type="text" id="id" name="id" @bind="@id" /> 

        <label> Name:</label>
        <input type="text" @bind="@name" />

        <label>Addres:</label>
        <input type="text" id="college" name="college" @bind="@college" />

        <button class="btn btn-primary" @onclick="forInsert">Insert</button>
        
    </form>
</div>
<br />
<br />

